@import url(http://fonts.googleapis.com/css?family=Roboto:400|Raleway:200,300,400,500,700,900);

/*--------------------
1.1 navbar 
--------------------*/

/* navbar button toggle*/
  #navbarMenu {
    margin: 0 auto;
    overflow: hidden;
  }
  
  #navbarMenu ul {
    display: flex;
    padding: 0;
  }
  
  #navbarMenu ul li a {
    color: #FFF;
  }

  #navbarMenu ul li a.nav-link:not(#logo) {
    transform: scale(1); /* use to make things bigger or smaller, can do it in different direction*/
    transition: 0.8s;
    display: block;
    line-height: 40px;

  }


  /* E F means choose all F in E
     E > F means choose all (directly realted) F in E */
  #navbarMenu ul li a.nav-link:not(#logo).hide-item {
    transform: scale(0); /* scale to 0% */
  }



  #navbarMenu ul li a.nav-link.hide-item {
    transform: scale(1); /* scale to 0% */
  }

  #navbarMenu ul li:nth-child(1) a.nav-link.hide-item {
    transition-delay: 0.5s;
  }
  

  #navbarMenu ul li:nth-child(2) a.nav-link.hide-item {
    transition-delay: 0.4s;
  }

  #navbarMenu ul li:nth-child(3) a.nav-link.hide-item {
    transition-delay: 0.3s;
  }

  #navbarMenu ul li:nth-child(4) a.nav-link.hide-item {
    transition-delay: 0.2s;
  }

  #navbarMenu ul li:nth-child(5) a.nav-link.hide-item {
    transition-delay: 0.1s;
  }

  #navbarMenu ul li:nth-child(6) a.nav-link.hide-item {
    transition-delay: 0s;
  }

  
  #navbarMenu ul li:nth-child(1) a.nav-link {
    transition-delay: 0s;
  }

  #navbarMenu ul li:nth-child(2) a.nav-link {
    transition-delay: 0.1s;
  }

  #navbarMenu ul li:nth-child(3) a.nav-link {
    transition-delay: 0.2s;
  }

  #navbarMenu ul li:nth-child(4) a.nav-link {
    transition-delay: 0.3s;
  }

  #navbarMenu ul li:nth-child(5) a.nav-link {
    transition-delay: 0.4s;
  }

  #navbarMenu ul li:nth-child(6) a.nav-link {
    transition-delay: 0.5s;
  }

  /*--------------------
1.2 navbar search button
--------------------*/
  .search-form {
    position: absolute;
    top: 3;
    left: 50%;
    transform: translateX(-50%); 
    width: 600px;
    height: 44px;
    opacity: 0; /* the extent of untransparent */
    visibility: hidden;
    transition: 0.8s;
  }

  .search-form.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
    transform: translateX(-50%);
  }

  .search-form input {
    width: 100%;
    height: 44px;
    background: transparent;
    color: #FFF;
    border: none;
    outline: none;
    font-size: 16px;
  }

  .search-form:before {
    content:'\f002'; /* this is a default icon list in fontAwesome */
    position: absolute;
    top: 9px;
    left: -26px;
    font-size: 18px;
    color: #fff;
    font-family: fontAwesome;
  }

  .search-form input::placeholder {
    color: #FFF;
  }


  /*--------------------
  1.3 navbar close button
  --------------------*/
  .close {
    position: absolute;
    top: 25px;
    right: 59px;
    color: #fff;
    height: 30px;
    font-size: 20px;
    text-align: right;
    width: 24px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    
    /*
    transform: translateX(-50%); 
    transition: 0.8s;
    */
  }

  .close.active {
    opacity: 1;
    visibility: visible;
  }

  #login {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
    transform: translateX(-50%);
    /*
    position: absolute;
    top: 2px;
    right: 36px;
    */
  }

  #login.deactive {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.5s;
    transform: translateX(-50%);
  }





 /*--------------------
  2 carousel -- homepage only
  --------------------*/
  .bd-placeholder-img-carousel {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    margin: auto;
    width: 1300px;
    height: 700px;
  }

  .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* use background instead of using image to fill the carousel*/
#slide1, #slide2, #slide3 {
  background: url(../image/reborn1.png) no-repeat scroll  center center;
  background-size: cover;
  position: relative;
  padding-top: 500px;
  padding-bottom: 190px;
  width:100%;
}

/*--------------------
  3 event board -- homepage only
  --------------------*/

/* content board */
.row-0-gutter {
    margin-left: -13px;
    margin-right: -13px;
    /*margin-top: -23px; */
}

.col-0-gutter {
	padding-left: 0;
	padding-right: 0;
}



/*--------------------
  4 section 
  --------------------*/
section {
	padding: 35px 0 60px;
}

.section-title {
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 45px;
	text-transform: uppercase;
}

.section-title p {
	font-size: 18px;
	font-weight: 300;
	line-height: 33px;
	margin: 25px 100px 30px 100px;
}

.mz-module .section-title {
  padding: 40px 0;
}

/*--------------------
5.1. About  -- homepage only
--------------------*/
.mz-module {
  margin-top: 0px;
}

.mz-about-container {
  padding: 0 50px;
}

.mz-module-about {
padding: 20px;
}

.mz-about-default {
  background-color: #252525;
}

.mz-about-dark {
  background-color: #2B2B2B;
}

.mz-module-about h3 {
font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 2px;
  margin-bottom: 30px;
  }

.mz-module-about p {
font-size: 14px;
font-weight: 400;
line-height: 27px;
color: #9C9C9C;
}

.ot-circle {
text-align: center;
color: #E8E8E8;
margin: 40px 0;
font-size: 37px;
}

/*--------------------
5.2 Portfolio  -- homepage only
--------------------*/
figure {
	position: relative;
    overflow: hidden;
    margin: 0 1px 1px 0;
    background: #726FB9;
    text-align: center;
    cursor: pointer;	
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}

/* > is used to find the DIRECT children of figcaption in fig 
 space ' ' means progressive relationship
*/
.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
	background: black;
	margin-bottom: 1px;
}

figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

/*
::before and ::after are called "psudo-element"
default is inline element and ::before is 
*/
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}


/* make a square border inside of the img on top and bot*/

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}


/* make a square border inside of the img on left and right*/
figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  /* scale in horizontal and vertical */
  
  -webkit-transform: scale(1,0); 
  transform: scale(1,0);
  
  
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}


figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);/* only scale in x-axis */
	transform: scale(1); /* scale in both x and y axis */
}


figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
	-webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*--------------------
 5.3 skill bar 
--------------------*/

.skillbar {
	position:relative;
	display:block;
  margin-bottom:15px;
  
	width:100%;
	background:#eee;
	height:35px; /* first 35 */

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;

	/* specifies the name of teh css property the transition effect is for (the transition effect will start when the specified css property changes) */
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	/*
	background:#6adcfa;
	*/
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px; /* second 35 */
	line-height:35px; /* third 35 */
	/*
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	*/
	
}

.skillbar-bar {
	height:35px; /* forth 35 */
	
	width:0px; /* otherwise it will statr from 100% and go down to the final position*/
	/*
	background:#6adcfa;
	*/
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}


/*--------------------
5.4. Dark Short section (counters, quote, etc)
--------------------*/

.light-bg {
  background: #f1f1f1;
}

/*--------------------
5.5. Intro Text
--------------------*/

.intro-section {
	padding: 60px 0 0 0;
	margin: 0;
}

.intro-section .section-title {
/*	padding: 0px 85px; */
	text-align: justify;	
}

.intro-section p {
	font-size: 14px;
	color: #6B6B6B;
	font-weight: 500;
	line-height: 32px;
	padding: 47px;
	font-family: "Raleway";
	margin: 0;
	background-color: #F9F9F9;
}

/*--------------------
5.6. Team
--------------------*/

.team-item {
    text-align: center;
    background-color: #F5F5F5;
}

.team-item h3 {
font-size: 25px;
    font-weight: 300;
    margin: 30px 0 20px;
    text-transform: uppercase;
}

.team-item .team-position {
    color: #565656;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.team-item p {
	font-size: 13px;
	font-weight: 500;
	color: #848484;
	padding: 18px 30px 35px 30px;
	line-height: 24px;
}

/*
#portfolio {
  margin-left: 23px;
  margin-right: 23px;
  
}
*/

/*--------------------
6.1 family page bar
--------------------*/

.first-widget {
  margin-top: 0px;
}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.65);
}

#portfolio_family {
  background-image: url("../image/portfolio.jpg");
}

.pageTitle {
  padding-top: 140px;
  padding-bottom: 100px;
}

.page-title {
  color: white;
  margin: 5px 0 0 0;
  font-size: 30px;
  font-weight: 800;
}

.page-location {
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-size: 14px;
  padding: 7px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/*------------------------------------------------------
	RESPONSIVE STYLES 
--------------------------------------------------------*/
@media (max-width: 991px) {
  .width-pc {
      display: none;
  }

  .site-header {
    padding: 17px 0;
    position: relative !important;
  }

  .first-widget {
    margin-top: 0;
  }

  .blog-post .thumb-post {
    float: none;
  }

  .blog-post {
    margin-bottom: 50px;
    text-align: center;
  }

  .testimonial-content {
    width: 100%;
  }

  .blog-post .thumb-post {
    margin: 0 auto 40px auto;
  }

  .project-img {
    margin-bottom: 40px;
    display: block;
  }
}

@media (max-width: 767px) {
  .parallax { 
	background-position: center center !important; 
  }
	
  .cta .cta-title {
    display: block;
    margin-bottom: 30px;
  }

  .pageTitle {
    text-align: center;
  }
  .pageTitle .text-right {
    text-align: center;
  }

  .page-location {
    display: inline-block;
    margin-top: 30px;
  }

  .isotope-item {
    width: 100%;
    height: auto;
  }
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  
    section {
      padding: 50px 0;/* top right bottom left, if there is no enough defined numbers, 
                          it means that top and bot are same and right and left are same*/
    }
  }

 /*================================================================================================*/ 
/*--------------------
4.7. Contacts
--------------------*/

section#contact form {
  width: 60%;
  margin: 15px auto;
}

section#contact.form-group {
margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
  padding: 15px;
  border: 1px solid #BBBBBB;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  font-size: 13px;
}

.contact h3 {
  margin-bottom: 30px;
}

.contact p {
  font-size: 13px;
}

.contact .day {
  display: inline-block;
  width: 80px;
}

.contact i {
  margin-right: 5px;
}

/*--------------------
5. Footer
--------------------*/

footer {
  padding: 30px;
  background-color: #000;    
}

footer p {
  color: #B7B7B7;
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px;
}

footer p a {
  color: #fff;
}

footer p a span {
  color: #FF9F46;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}

/*--------------------
6. Modal
--------------------*/

.modal-content {
border-radius: 0;	
}
.modal-header .close {
font-size: 30px;	
}
.modal-title {    
text-transform: uppercase;
font-size: 23px;
}

.modal-body {
padding: 0;
}

.modal-body p {
margin: 30px 20px;
color: #2D2D2D;		
}

.modal-works {
font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  margin: 25px 20px;
}

.modal-works span {
background-color: #FED136;
  margin-right: 15px;
  padding: 5px 10px;
}

/*--------------------
7. Components
--------------------*/

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
  color: #fff;
  background-color: #fec503;
  border-color: #f6bf01;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn, .is-checked {
  color: #fff;
  background-color: #fec503;
  border-color: #f6bf01;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-xl {
  color: #fff;
  background-color: #726FB9;
  border-color: #726FB9;
  font-family: "Robot",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}


/* Back to top button
---------------------------------- */
#back-top {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 50px;
}
#back-top a {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #A9A9B1;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background: #fed136;
}
/* arrow icon (span tag) */
#back-top i {
  margin-top: 15px;
  font-size: 28px;
}

/* -------------------
  category
---------------------- */

#filters {
  margin: 100px 0 60px 0;
}
#filters li {
  display: inline;
  margin-right: 20px;
  cursor: pointer;
  color: #31373a;
}
#filters li:after {
  content: '/';
  color: #c3c3c3;
  margin-left: 20px;
}
#filters li:last-child:after {
  content: '';
}
#filters li.active {
  color: #00a8d6;
}

/*
#Grid .mix {
  display: none;
  opacity: 0;
}
*/

.portfolio {
  margin-top: 40px;
}

/*
.portfolio-holder .item {
  margin: 0 1px 40px 1px;
}
.portfolio-holder .item img {
  display: block;
  width: 100%;
  height: auto;
}
*/
.portfolio-post {
  overflow: hidden;
  margin-bottom: 30px;
}

.thumb-post {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb-post .overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.thumb-post .overlay .overlay-inner {
  background: #00a8d6;
  height: 100%;
  position: relative;
}
.thumb-post:hover .overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.portfolio-infos {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.portfolio-infos a {
  color: white;
}
.portfolio-infos .portfolio-title {
  margin: 10px 0 0 0;
  font-weight: 600;
  font-size: 20px;
}
.portfolio-infos .meta-category {
  font-size: 14px;
  color: white;
}

.portfolio-expand {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
}
.portfolio-expand a {
  display: block;
  color: green;/*  #31373a */
  opacity: 1;
}

.thumb-post {
  height: auto;
}
.thumb-post img {
  width: 100%;
  height: auto;
}

.pages {
  margin: 20px 0 100px 0;
}
.pages li {
  display: inline;
  margin-right: 10px;
}
.pages li a {
  padding: 10px 12px;
  background-color: #f1f4f5;
  color: #31373a;
}
.pages li a.active {
  color: #00a8d6;
}


@media only screen
and (min-width : 320px)
and (max-width : 480px) {
#back-top {
  position: fixed;
  bottom: 10px;
  right: 30px;
}
#back-top a {
  width: 40px;
  height: 40px;
}
#back-top i {
  margin-top: 7px;
  font-size: 20px;
}
}

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* filter */
.filters-button-group {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 86px;
}
/*header*/
.headertitle {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}