.header{
    border-width: 0 0 3px;
    box-shadow: 0 5px 4px #888888;
    position: sticky;
    top: 0;
    z-index: 4;
    height:80px;
    background: white;
}

.header .container{
    margin: 0 auto;
    width: 960px;
    padding: 1.45rem 1.0875rem 0rem;
    font-family: sans-serif;
    font-size: 20px;
    line-height:1.35;
    background: white;
}

.header .right-subcontainer{
    float:right;
}

.header .right-subcontainer .tab-container{
    float: left;
    margin-right: 15px;

}

.linkTab{
    display: inline;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.linkTab:hover{
    color:#f76c6c;
    text-decoration: none;
}

.loginTab{
    text-decoration: none;
    border-style: 1px solid;
    border-color: #f76c6c;
    color:black;
}
