.f{
    align-items: center;
    margin: auto;
    width: 800px;
    z-index: 999;
    background-color: lightseagreen;
}

.t{
    margin-left: 50px;
    align-items: center;
    width: 600px;
    animation: a1 3s;
}

@keyframes a1
{
    0%   {max-height:0px; opacity: 0;}
	100% {max-height: 9999px; opacity: 1;}
}


.oneyear{
    position: relative;
    width: 800px;
    z-index: 2;
}

.picture2 {
    position: absolute;
    top:0px;
    left:0px;
    opacity:0;
    transition:opacity 1s; 
    }
    
.picture2:hover{
        opacity:1;
}



.one{
    width: 600px;
    height: 150px;

}
.onepic{
    width: 200px; 
}
.onepara{
    border-radius: 15px 50px;
    width: 600px;
    max-height: 100px;   
    padding-bottom: 50px;
    padding-top: 0px;
    align-items: center;
    background-color: whitesmoke;
}
.title{
    font-size: 20px;
    font-family:Arial, Helvetica,sans-serif;  
}

