


.aaa{
    height: 180px;
    padding-top: 110px;
    padding-left: 40px;
    display: flex;
}

.head1{
    font-family:Arvo,Helvetica,sans-serif;    
}

.t{
    height : 950px;
    width: 600px;
    margin: auto;
    align-items: center;
    padding: 0px 0px 0px 0px ;
}

.t2{
    width :800px;
    margin: auto;
    align-items: center;
}


